POSTGRES_DB=portal_kosek
POSTGRES_USER=portal_app
POSTGRES_PASSWORD=CHANGE_ME

DATABASE_URL="postgresql://portal_app:CHANGE_ME@localhost:5432/portal_kosek?schema=public"

APP_NAME="Portal Informasi Kesatuan"
APP_URL="http://localhost:3000"
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_SECRET="CHANGE_ME_RANDOM_SECRET"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
